@import "bootstrap-sprockets";
@import "bootstrap";

// Adding load waiting
	#loading {
	  width: 9rem;
    height: 9rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    opacity: 1;
    z-index: 99;
    background: transparent asset-url("huddleUp-load-lr.gif") center no-repeat;
    background-size: cover;
    display: block;
	}
// End load waiting styling here